<app-modal [isOpen]="isOpen" [title]="!this.cita ? 'Crear Cita' : 'Editar Cita'" (closeModal)="onModalClose()">
    <form [formGroup]="citaForm">
        <div class="form-field">
            <label class="form-label">Paciente</label>
            <select formControlName="id_paciente" id="id_paciente" class="form-input">
                <option value="">Seleccione un Paciente</option>
                <option *ngFor="let paciente of data.getPacientesForSelect()" [value]="paciente.id">
                    {{ paciente.nombre }}
                </option>
            </select>
            <div *ngIf="citaForm.get('id_paciente')?.invalid && citaForm.get('id_paciente')?.touched"
                class="error-message">
                Paciente es requerido
            </div>
        </div>
        <div class="form-field"><label class="form-label">Medico</label>
            <select formControlName="id_usuario" id="id_usuario" class="form-input">
                <option value="">Seleccione un Médico</option>
                <option *ngFor="let medico of data.getUsuariosForSelect()" [value]="medico.id">
                    {{ medico.nombre }}
                </option>
            </select>
            <div *ngIf="citaForm.get('id_usuario')?.invalid && citaForm.get('id_usuario')?.touched"
                class="error-message">
                Médico es requerido
            </div>
        </div>
        <div class="form-field">
            <label class="form-label">Centro de Salud</label>
            <select formControlName="id_centro_salud" id="id_centro_salud" class="form-input">
                <option value="">Seleccione un Centro de Salud</option>
                <option *ngFor="let centroSalud of data.getCentrosForSelect()" [value]="centroSalud.id">
                    {{ centroSalud.nombre }}
                </option>
            </select>
            <div *ngIf="citaForm.get('id_centro_salud')?.invalid && citaForm.get('id_centro_salud')?.touched"
                class="error-message">
                Centro de Salud es requerido
            </div>
        </div>
        <div class="form-row">
            <div class="form-field form-field-half">
                <label class="form-label">Fecha</label>
                <input type="date" formControlName="fecha" id="fecha" class="form-input"
                    placeholder="Fecha de la Cita" />
            </div>
            <div class="form-field form-field-half">
                <label class="form-label">Hora</label>
                <input type="time" formControlName="hora" id="hora" class="form-input" placeholder="Hora de la Cita" />
            </div>
        </div>
        <div *ngIf="citaForm.get('fecha')?.invalid && citaForm.get('fecha')?.touched || citaForm.get('hora')?.invalid && citaForm.get('hora')?.touched"
            class="form-row">
            <div class="form-field form-field-half">
                <div *ngIf="citaForm.get('fecha')?.invalid && citaForm.get('fecha')?.touched" class="error-message">
                    La fecha es requerida
                </div>
            </div>
            <div class="form-field form-field-half">
                <div *ngIf="citaForm.get('hora')?.invalid && citaForm.get('hora')?.touched" class="error-message">
                    La hora es requerida
                </div>
            </div>
        </div>
        <div class="form-field">
            <label class="form-label">Tipo de Cita</label>
            <select formControlName="tipo_cita" id="tipo_cita" class="form-input">
                <option value="">Seleccione el Tipo de Cita</option>
                <option *ngFor="let tipoCita of data.getTiposCita()" [value]="tipoCita.value">
                    {{ tipoCita.label }}
                </option>
            </select>
            <div *ngIf="citaForm.get('tipo_cita')?.invalid && citaForm.get('tipo_cita')?.touched" class="error-message">
                El tipo de cita es requerido
            </div>
        </div>
        <div class="form-field">
            <label class="form-label">Observacion</label>
            <textarea formControlName="observacion" class="form-textarea" rows="4"
                placeholder="Observacion (opcional)"></textarea>
        </div>
    </form>

</app-modal>