# Dependencias
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de desarrollo
.angular
.vscode
*.log

# Archivos de distribución
dist
build

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración local
.env
.env.local
.env.production.local

# Archivos de testing
coverage
*.tgz
*.tar.gz

# Archivos de git
.git
.gitignore
README.md

# Archivos de Docker
Dockerfile
.dockerignore
