<div class="pacientes-main">
    <div class="patients-header">
        <h1 class="patients-header-title">Pacientes</h1>
        <div class="patients-header-search">
            <input type="text" [(ngModel)]="search" placeholder="Buscar paciente" class="patients-search-input"
                autocomplete="off" />
            <div class="patients-total">
                Total: {{ filteredPacientes.length }}
            </div>
        </div>
    </div>

    <button class="add-patient-btn" (click)="openForm()">
        Agregar Paciente
    </button>

    <app-paciente-form [paciente]="editingPaciente" [show]="showForm" (close)="onFormClose($event)">
    </app-paciente-form>

    <div *ngIf="error" class="pacientes-error">
        <h2 class="pacientes-error-title">⚠️ Error cargando pacientes</h2>
        <p>{{ error }}</p>
    </div>

    <div *ngIf="!error" class="pacientes-list">
        <div *ngIf="filteredPacientes.length > 0; else emptyState">
            <div *ngFor="let p of filteredPacientes" class="patient-card patient-card-list">
                <div class="patient-avatar" [title]="'Avatar de ' + p.nombre">
                    {{ getInitials(p) }}
                </div>
                <div class="patient-info-list">
                    <h3>
                        {{ capitalizeWords(p.nombre) }}
                        {{ capitalizeWords(p.apellido_paterno) }}
                        {{ capitalizeWords(p.apellido_materno) }}
                    </h3>
                    <div class="patient-meta-list">
                        <p><strong>RUT:</strong> {{ p.rut }}</p>
                        <p><strong>F. Nac.:</strong> {{ formatDate(p.fecha_nacimiento) }}</p>
                        <p><strong>Género:</strong> {{ capitalizeWords(p.genero) }}</p>
                        <p><strong>Teléfono:</strong> {{ p.telefono }}</p>
                        <p><strong>Dirección:</strong> {{ capitalizeWords(p.direccion) }}</p>
                    </div>
                </div>
                <div class="patient-actions patient-actions-list">
                    <button (click)="handleEdit(p)">Editar</button>
                    <button (click)="handleDelete(p.id_paciente)">Eliminar</button>
                </div>
            </div>
        </div>

        <ng-template #emptyState>
            <div class="empty-state">
                <h3>No hay pacientes registrados</h3>
                <p>Comienza agregando tu primer paciente usando el botón de arriba</p>
            </div>
        </ng-template>
    </div>
</div>